body{
    background-color: whitesmoke;
}
.image{
   
    margin-right: 80px;
    float:right;
}
.header{
    color: red;
    font-size: 25px;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    .button{
        
        margin-right: 30px;
        border: solid 4px blue;
        background-color: blue;
        color: white;
        padding:13px;
        display: block;
        font-size: 20px;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        
    } 
}

    .middle{
    p{
        color: black;
        font-size: 50px;
        display: inline;
        margin-left: 40px;       
    }
    h2{
        margin-left: 40px;
        font-family: 'Times New Roman', Times, serif;
        color: gray;
        font-size: 30px;
       }
    }
    .between{
        margin-left: 40px;
        font-size: 20px;
    }
    .button1{
        border: solid 4px blue;
        display: inline;
        background-color: blue;
        color: white;
        border-radius: 10px;
        padding: 10px;
        margin-left: 40px;
        justify-content: space-around;
    }
   .button1:hover,.button2:hover,.button3:hover{
    background-color: yellow;
    color: black;

    }
    .button2{
        border: solid 4px blue;
        display: inline;
        background-color: blue;
        color: white;
        border-radius: 10px;
        padding: 10px;
        margin-left: 40px;
        justify-content: space-around;
    }
    .button3{
        border: solid 4px blue;
        display: inline;
        background-color: blue;
        color: white;
        border-radius: 10px;
        padding: 10px;
        margin-left: 40px;
        justify-content: space-around;
        
    }
    
    
    .fa-linkedin
      {
        font-size: 30px;
        margin-left: 42px;
      }
    
    .fa-facebook{
        font-size: 30px;
    }
    .fa-twitter{
        font-size: 30px;

    }
    .details{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: brown;
        margin-left: 10%;
        
        
        
        
    }

.skill1{
    color: yellow;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    color: violet;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3px;
   
}
.img_pro1{
    float:right;
    width: 30%;

}
.img1{
    position: absolute;
    width: 60%;
    left: 15%;
    background-color:cyan;
    padding: 25px;
    font-size: 20px; 
}
.img1:hover{
    background-color: brown;
}
.img_pro2{
    float:right;
    width: 30%;

}
.img2{
    position: absolute;
    width: 60%;
    left: 15%;
    background-color:cyan;
    padding: 25px;
    font-size: 20px; 
}
.img2:hover{
    background-color: brown;
}
.img_pro3{
    float:right;
    width: 30%;

}
.img3{
    position: absolute;
    width: 60%;
    left: 15%;
    background-color:cyan;
    padding: 25px;
    font-size: 20px; 
}
.img3:hover{
    background-color: brown;
}




        
        

    
    

       


    
    



